# practising amstrong_nos

In [ ]:
separate digits

In [9]:
input_number = input("enter the number:")
digit_list = []
len_num = len(input_number)
for i in range(len_num):
    remainder = int(input_number)%10
    input_number = int(input_number)//10
    digit_list.append(remainder)
digit_list[::-1]

enter the number:13467

[1, 3, 4, 6, 7]

In [12]:
input_number = int(input("enter the number:"))
digit_list = []
while input_number!=0:
    i = input_number%10
    input_number= input_number//10
    digit_list.append(i)
digit_list[::-1]

enter the number:1357

[1, 3, 5, 7]

Amstrong number

In [22]:
input_number = input("enter the number:")
len_num = len(input_number)
print(len_num)
result = 0
j = input_number
for i in range(len_num):
    
    remainder = int(j)%10
    j = int(j)//10
    result = result + (remainder)**len_num
print(result)    
if result == int(input_number):
    print("Bingo")
else:
    print("better luck next time")

enter the number:9474
4
9474
Bingo

Another way

In [24]:
input_number = input("enter the number:")
len_num = len(input_number)
print(len_num)
result = 0
j = input_number
while j!=-0:
    
    remainder = int(j)%10
    j = int(j)//10
    result = result + (remainder)**len_num
print(result)    
if result == int(input_number):
    print("Bingo")
else:
    print("better luck next time")

enter the number:54748
5
54748
Bingo

Amstrong number in a list

In [28]:
amstrong_num_list = []
for num in range(10000):
    len_num = len(str(num))
    result = 0
    j = num
    while j!=-0:
        remainder = int(j)%10
        j = int(j)//10
        result = result + (remainder)**len_num
    if result == num:
        amstrong_num_list.append(num)
    else:
        continue        
    
amstrong_num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [31]:
amstrong_num_list_str = [str(x) for x in amstrong_num_list]
','.join(amstrong_num_list_str)

'0,1,2,3,4,5,6,7,8,9,153,370,371,407,1634,8208,9474'

# practrising factorial_recurive.py

In [36]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [37]:
print('First modules name:{}.'.format(__name__))

First modules name:__main__.

In [38]:
def func():
    print("func() in one.py")
    
print("top level is one.py")

if __name__=="__main__":
    print("one.py is run directly")
else:
    print("one.py is run from another function")

top level is one.py
one.py is run directly

# practising practise.py

In [39]:
#A Robot moves in a Plane starting from the origin point (0,0). The robot can move toward UP, 
#DOWN, LEFT, RIGHT. The trace of Robot movement is as given following:
#UP 5
#DOWN 3
#LEFT 3
#RIGHT 2
#The numbers after directions are steps. Write a program to compute the distance current position 
#after sequence of movements.
#Hint: Use math module.

In [75]:
import math
step = input("enter the step:").split(' ')

if len(step)%2==0:
    
    direction = [step[x] for x in range(len(step)) if x%2==0]
    step_count = [step[x] for x in range(len(step)) if x%2!=0]
    
    direction_dict = dict(zip(direction,step_count))
    postion_x = 0
    postion_y = 0
    start_postion = [postion_x,postion_y]
    for key in direction_dict.keys():
        if key.lower() == 'up':
            postion_y = postion_y + int(direction_dict[key])
            location = [postion_x,postion_y]
        elif key.lower() == 'down':   
            postion_y = postion_y - int(direction_dict[key])
            location = [postion_x,postion_y]
        elif key.lower() == 'left':   
            postion_x = postion_x - int(direction_dict[key])
            location = [postion_x,postion_y]
        elif key.lower() == 'right':   
            postion_x = postion_x + int(direction_dict[key])
            location = [postion_x,postion_y]
        else:
            print("you have to put the right direction")
    distance = round(math.sqrt(postion_x**2 + postion_y**2),1)
    print(f"distance:{distance}")
else:
    print("you have to put the right direction")

enter the step:UP 5 DOWN 3 LEFT 3 RIGHT 2
distance:2.2

In [76]:
#Weather forecasting organization wants to show is it day or night. So, write 
#a program for such organization to find whether is it dark outside or not.

In [85]:
import time
localtime = time.localtime()
localtime
if localtime.tm_hour>=6 and localtime.tm_hour <=18:
    print("it is day")
else:
    print("it is night")

it is day

In [86]:
#Write a program that calculates and prints the value according to the given formula:

#Q = Square root of [(2 * C * D)/H]

#Following are the fixed values of C and H:

#C is 50. H is 30.

#D is the variable whose values should be input to your program in a 
#comma-separated sequence.For example Let us assume the following comma 
#separated input sequence is given to the program:

In [93]:
input_D = input("enter the list of D:").split(',')
input_D = [int(x) for x in input_D]
C = 50
H = 30
results = []
for i in input_D:
    result = round(math.sqrt(2*C*i/H),2)
    results.append(result)
results

enter the list of D:1,2,3,4

[1.83, 2.58, 3.16, 3.65]

In [94]:
#Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. 

#The element value in the i-th row and j-th column of the array should be i * j.
#Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs are given to the program: 3,5
#Then, the output of the program should be:
#[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [107]:
import numpy as np
row_col=input('enter row and col:').split(',')
row = int(row_col[0])
col = int(row_col[1])
y = np.zeros((row, col)) 
for i in range(row):
    sub = []
    for j in range(col):
        temp = y[i][j] + i*j
        y[i][j] = temp  
y

enter row and col:5,6

array([[ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  2.,  3.,  4.,  5.],
       [ 0.,  2.,  4.,  6.,  8., 10.],
       [ 0.,  3.,  6.,  9., 12., 15.],
       [ 0.,  4.,  8., 12., 16., 20.]])

Another way

In [108]:
import numpy as np
row_col=input('enter row and col:').split(',')
row = int(row_col[0])
col = int(row_col[1])
result = []
for i in range(row):
    sub =[]
    for j in range(col):
        sub.append(i*j)
    result.append(sub)    
        
result

enter row and col:5,6

[[0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5],
 [0, 2, 4, 6, 8, 10],
 [0, 3, 6, 9, 12, 15],
 [0, 4, 8, 12, 16, 20]]

In [109]:
#Write a program that accepts a comma separated sequence of words as input and
# prints the words in a comma-separated sequence after sorting them alphabetically.

In [116]:
input_wordlist = input('enter list of words:').split(',')
sorted(input_wordlist)

enter list of words:bee, ant, dog, bee

[' ant', ' bee', ' dog', 'bee']

Write a program which will find factors of given number and find whether the factor is even or odd.

In [119]:
input_int = int(input("enter the number:"))
for i in range(2,input_int):
    if input_int%i==0:
        if i%2==0:
            print(f"the factor {i} is even")
        else:
            print(f"the factor {i} is odd")

enter the number:50
the factor 2 is even
the factor 5 is odd
the factor 10 is even
the factor 25 is odd

Write a program, whichwill find all the numbers between 1000 and 3000 (both included) such that each digit of a number is an even number. The numbers obtained should be printed in a comma separated sequence on a single line.

In [127]:
result = []
for num in range(1000,3001):
    str_num = str(num)
    if int(str_num[0])%2==0 and int(str_num[1])%2==0 and int(str_num[2])%2==0 and int(str_num[3])%2==0:
         result.append(str_num)
','.join(result)

'2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888'

Write a program that accepts a sentence and calculate the number of letters and digits.Suppose if the entered string is: Python0325Then the output will be:LETTERS: 6DIGITS:4

In [131]:
input_string = input("enter the string:")
letter_counter = 0
digit_counter = 0
for i in input_string:
    if i.isalpha():
        letter_counter = letter_counter+1
    elif i.isdigit():
        digit_counter = digit_counter+1
    else:
        continue
print(f"Letter{letter_counter} and digit{digit_counter}")

enter the string:Python0325
Letter6 and digit4

Design a code which will find the given number is Palindrome number or not.

In [156]:
input_num = input("enter the num:")
list_num = []
for i in input_num:
    list_num.append(i)
    
if list_num == list_num[::-1]:
    print("this number is a pallindrome")
else:
    print("this number is not a pallindrome")

enter the num:1234
this number is not a pallindrome

Another way to dop pallidrome

In [157]:
# change this value for a different output
my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("It is palindrome")
else:
   print("It is not palindrome")

It is palindrome

What is the output of the following code?
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

In [158]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

4

In [160]:
nums =set([1,1,2,3,3,3,4,4])
len(nums)

4

In [163]:
animals = ['dog','cat', 'monkey']
animals.insert(1,'tiger')
animals

['dog', 'tiger', 'cat', 'monkey']

In [162]:
list2=[[10,20],[30,40]]
list2[1][0]

30

In [167]:
animals = ['dog','cat', 'monkey']
animals.sort()
animals

['cat', 'dog', 'monkey']

In [168]:
list1=[10,20,30,40,2,5,6]
list1.sort()
list1

[2, 5, 6, 10, 20, 30, 40]

In [171]:
list1=[10,20,30,40,2,5,6]
del list1[4]
list1

[10, 20, 30, 40, 5, 6]

In [179]:
def Reverse(lst): 
    lst.reverse() 
    return lst 
      
lst = [10, 11, 12, 13, 14, 15] 
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [183]:
list1=[10,20,30,40,2,5,6]
list1.reverse()
list1

[6, 5, 2, 40, 30, 20, 10]

In [187]:
list1 = [10, 11, 12, 13, 14, 15] 
list2 = reversed(list1)
list(list2)

[15, 14, 13, 12, 11, 10]

In [188]:
str1 = 'abcvdadwdhhkhj'
str2 = reversed(str1)
list(str2)

['j', 'h', 'k', 'h', 'h', 'd', 'w', 'd', 'a', 'd', 'v', 'c', 'b', 'a']

In [189]:
list(str1)

['a', 'b', 'c', 'v', 'd', 'a', 'd', 'w', 'd', 'h', 'h', 'k', 'h', 'j']

In [190]:
animals = ('dog','cat','monkey')
animals[1]

'cat'

In [191]:
tuple1 = ((10,2,3),(3.5,4))
tuple1[1][0]

3.5

In [194]:
name = "ayon"
list1=[10,20,3.5,2.3]
tup1 = (10,20,3.5,2.3)

print(len(name))
print(len(list1))
print(len(tup1))

4
4
4

In [195]:
print(name[1:4])
print(list1[2:])
print(tup1[1:])
print(name[::-1])

yon
[3.5, 2.3]
(20, 3.5, 2.3)
noya

In [196]:
list1=[10,20,3.5,2.3]
word = "frickkky"
print(word.count('k'))
print(list1.count(2.3))

3
1

In [198]:
list1=[10,20,3.5,2.3]
if 3.5 in list1:
    print('yes')

yes

In [201]:
tup1 = (2,3)
tup2 =(111,112)
tup1+tup2

(2, 3, 111, 112)

In [202]:
list1 = [10,20,30,40]
list2 = list1
list1[2] = 'hello'
list2

[10, 20, 'hello', 40]

In [203]:
result=[x**2 for x in [1,2,3]]
result

[1, 4, 9]

In [204]:
[x if x>2 else x+1 for x in range(1,11)]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [206]:
words = ['hello', 'a', 'ayon']
[x.capitalize() for x in words]

['Hello', 'A', 'Ayon']

In [208]:
str1 = "ayonsonu1234"
str2 = [x for x in str1 if x.isalpha()]
str3 = [x for x in str1 if x.isdigit()]
str3

['1', '2', '3', '4']

In [211]:
list1 = [[1,2,3], [4,5,6], ['a','b','c']]
def firstelement(x):
    return x[0]
[firstelement(x) for x in list1]

[1, 4, 'a']

In [213]:
a = [1,2,3,4]
c = [10,20,30,40]
[a[i]+c[i] for i in range(0,len(a))]

[11, 22, 33, 44]

In [214]:
a = [1,2,3,4]
b = [10,1,6]
[x+y for x in a for y in b]

[11, 2, 7, 12, 3, 8, 13, 4, 9, 14, 5, 10]

In [215]:
list2 = [[2,9],[1,10],[3,7]]

def second(x):
    return x[1]

list2.sort(key=second)
list2

[[3, 7], [2, 9], [1, 10]]

In [216]:
list3 = [(2,9),(1,10),(3,7)]

def second(x):
    return x[1]

list3.sort(key=second,reverse=True)
list3

[(1, 10), (2, 9), (3, 7)]

In [217]:
d1 = {3:'a',2:'f',6:'d',7:'b'}
sorted(d1)

[2, 3, 6, 7]

In [219]:
sorted(d1.values())

['a', 'b', 'd', 'f']

In [220]:
sorted(d1.items())

[(2, 'f'), (3, 'a'), (6, 'd'), (7, 'b')]

In [221]:
sorted(d1.items(), key = lambda x:x[1])

[(3, 'a'), (7, 'b'), (6, 'd'), (2, 'f')]

In [222]:
tup2 = ((1,'a'),(4,'s'),(3,'z'),(2,'r'))
sorted(tup2,key=lambda x:x[1], reverse = True)

[(3, 'z'), (4, 's'), (2, 'r'), (1, 'a')]

In [224]:
dict = {1:'tup'}
if 'list' not in dict:
    dict['list'] = []
dict['list'].append('list_item')
dict

{1: 'tup', 'list': ['list_item']}

In [225]:
dict.setdefault(2)
print(dict)

{1: 'tup', 'list': ['list_item'], 2: None}

In [226]:
dict = {1:'tup'}
if 'list' not in dict:
    dict['list'] = 'list_item'
dict.setdefault(2)
print(dict)

{1: 'tup', 'list': 'list_item', 2: None}

In [232]:
a = [1,2,3,4]
b = ['a','b','c','d']
for i in range(len(a)):
    d[a[i]] = b[i]
d

{4: 'd', 5: 'b', 6: 'c', 74: 'd', 1: 'a', 2: 'b', 3: 'c'}

In [233]:
d.get(74)

'd'

In [235]:
list1=[1,2,3,4]
dict.fromkeys(list1,None)

{1: None, 2: None, 3: None, 4: None}

In [236]:
{}.fromkeys(range(1,7),'Ayon')

{1: 'Ayon', 2: 'Ayon', 3: 'Ayon', 4: 'Ayon', 5: 'Ayon', 6: 'Ayon'}

In [237]:
d = {1: 'a', 2: 'b', 3: 'c'}
{k*100: v for k, v in d.items()}

{100: 'a', 200: 'b', 300: 'c'}

In [238]:
d.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [246]:
tup = [(1, 'a'), (2, 'b'), (3, 'c')]
[k[0]*100 for k in tup]

[100, 200, 300]

In [247]:
# initializing dictionary  
test_dict = { "geeks" : 7, "for" : 1, "geeks" : 2 } 
  
# accessing 2nd element using naive method 
# using loop 
j = 0
for i in test_dict: 
    if (j == 1): 
        print ('2nd key using loop : ' + i) 
    j = j + 1

2nd key using loop : for

In [249]:
test_dict = { "geeks" : 7, "for" : 1, "geeks" : 2 } 
for i in test_dict: 
    print(i)

geeks
for

In [251]:
std = {'jon':20, 'alia':21, 'ayon':40}

std.setdefault('jon')
std.setdefault('koyel')
std

{'jon': 20, 'alia': 21, 'ayon': 40, 'koyel': None}

In [253]:
dict = {'Name':'Zara','Age':7}
print(str(dict))

{'Name': 'Zara', 'Age': 7}

In [254]:
print(dict.copy())

{'Name': 'Zara', 'Age': 7}

In [256]:
dict1={1:'Python',2:'Android'}
print(dict1.items())
print(dict1.keys())
print(dict1.values())
print(dict1.setdefault(1))
print(dict1.setdefault(3))

dict_items([(1, 'Python'), (2, 'Android')])
dict_keys([1, 2])
dict_values(['Python', 'Android'])
Python
None

In [259]:
third_value = dict1.setdefault(3,'code')
print(third_value)
print(dict1)

None
{1: 'Python', 2: 'Android', 3: None}

In [260]:
dic={3:'Python',1:'Java',2:'Big Data'}
k=list(dic.keys())
print(k)

sk=sorted(k)
print(sk)

for k in sk:
    print(k,'=>',dic[k])

[3, 1, 2]
[1, 2, 3]
1 => Java
2 => Big Data
3 => Python

In [261]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
'jobs': ['dev', 'mgr'],'age': 40.5}
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'jobs': ['dev', 'mgr'],
 'age': 40.5}

In [263]:
rec.get('name')

{'first': 'Bob', 'last': 'Smith'}

In [268]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{k:v+2 for k,v in dict1.items()}

{'a': 3, 'b': 4, 'c': 5, 'd': 6}

In [270]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{k:v+2 for k,v in dict1.items() if v>=2}

{'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [272]:
{k:v for (k,v) in dict1.items() if v>2 if v%2 == 0}

{'d': 4}

In [274]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f':6}
{k:('even' if v%2==0 else 'odd') for (k,v) in dict1.items()}

{'a': 'odd', 'b': 'even', 'c': 'odd', 'd': 'even', 'e': 'odd', 'f': 'even'}

In [283]:
{n:n**2 for n in range(1,10) if n%2 == 0}

{2: 4, 4: 16, 6: 36, 8: 64}

In [285]:
d1 = {'fname':'Ayon','lname':'jobs','age':21}    
d2 = {'fname':'Ayon','lname':'Ghosh','age':21}
is_equal=True
diff = set(d1.keys()).symmetric_difference(set(d2.keys()))
print(diff)

set()

In [290]:
if len(set(d1.keys()).symmetric_difference(set(d2.keys()))) == 0:
    for k in d1:
        if k in d1:
            if k in d2:
                print(d1[k],d2[k])
                if d1[k]==d2[k]:
                    continue
                else:
                    print("the values are different")
                    break
            else:
                print("the keys are different")
                break
else:
     print("the dicts have asymmetric keys")

Ayon Ayon
jobs Ghosh
the values are different

In [291]:
list=["Hadoop","Python","Android"]
print(list[-3])

Hadoop

In [292]:
list[1]="Java"
print(list)

['Hadoop', 'Java', 'Android']

In [293]:
list.insert(1,'Scripting')
print(list)

['Hadoop', 'Scripting', 'Java', 'Android']

In [294]:
list=[(1,2,3),("Python","Java")]
print(list)

[(1, 2, 3), ('Python', 'Java')]

In [304]:
list1=[1,2,3,5,7,'a','b']
tup1=tuple(list1)
tup1

(1, 2, 3, 5, 7, 'a', 'b')

In [308]:
s={'a','b','c','d','e','f','o','v'}
set1={'a','b','d','o','v'}
set2={'a','c','d','o','e'}
print(s.issuperset(set1))
print(set1|set2)
print(set1&set2)
print(set1-set2)

True
{'c', 'd', 'a', 'e', 'b', 'o', 'v'}
{'a', 'd', 'o'}
{'v', 'b'}

In [316]:
a =['eat', 'sleep','drink']
x = enumerate(a)
listA = []
for i in x:
    listA.append(i)
listA

[(0, 'eat'), (1, 'sleep'), (2, 'drink')]

In [317]:
for i in listA:
    d[i[0]] = i[1]
d

{1: 'sleep', 2: 'drink', 3: 'c', 0: 'eat'}

In [318]:
for count,i in enumerate(a,100):
    print(count,i)

100 eat
101 sleep
102 drink

In [322]:
m = [[1,2],[3,4],[5,6]] 
matrix = []
for i in range(2):
    row = []
    for j in range(3):
         row.append(m[j][i])
    matrix.append(row)
matrix

[[1, 3, 5], [2, 4, 6]]

In [323]:
import numpy as np
m = np.array([[1,2],[3,4],[5,6]])
m.T

array([[1, 3, 5],
       [2, 4, 6]])